#records {
    max-height: 250px;
    overflow: scroll;
}

.record-sketching{
    background-color: aquamarine;
}

.record-drawing{
    background-color: bisque;
}

.record-painting{
    background-color: gold;
}
